<section class="form__section form--container">
  <form [formGroup]="form" (ngSubmit)="onPrimaryButtonClick()" *ngIf="form">
    <div class="form-box">
      <ng-container
        *ngFor="
          let field of formInput?.fields
            | filter: { hidden: [undefined, false] };
          let i = index
        "
      >
        <ng-container
          *ngTemplateOutlet="fieldSelector; context: { field: field }"
        ></ng-container>
      </ng-container>
    </div>

    <div class="form-content">
      <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
    </div>

    <div
      class="form-actions"
      *ngIf="formInput?.primaryButtonLabel || formInput?.secondaryButtonLabel"
    >
      <my-org-local-spinner [componentId]="formInput?.primaryLocalSpinnerId">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="isPrimaryDisabled()"
          *ngIf="formInput?.primaryButtonLabel"
        >
          <span>
            {{ formInput?.primaryButtonLabel }}
          </span>
        </button>
      </my-org-local-spinner>

      <button
        mat-stroked-button
        class="secondary__btn"
        type="button"
        (click)="onSecondaryButtonClick()"
        *ngIf="formInput?.secondaryButtonLabel"
      >
        <span>
          {{ formInput?.secondaryButtonLabel }}
        </span>
      </button>
    </div>
  </form>
</section>

<ng-template #fieldSelector let-field="field">
  <ng-container [ngSwitch]="field?.type">
    <div
      class="form__row"
      [ngClass]="field?.classes || ''"
      *ngSwitchCase="formFieldType.ROW"
    >
      <ng-container
        *ngFor="
          let fieldChild of field?.fields
            | filter: { hidden: [undefined, false] }
        "
      >
        <ng-container
          *ngTemplateOutlet="fieldSelector; context: { field: fieldChild }"
        ></ng-container>
      </ng-container>
    </div>

    <div [ngClass]="field?.classes || ''" *ngSwitchCase="formFieldType.INPUT">
      <my-org-input
        [field]="field"
        [control]="form.controls[field.key]"
      ></my-org-input>
    </div>

    <div
      [ngClass]="field?.classes || ''"
      *ngSwitchCase="formFieldType.TEXT_AREA"
    >
      <my-org-text-area
        [field]="field"
        [control]="form.controls[field.key]"
      ></my-org-text-area>
    </div>
    <div
      [ngClass]="field?.classes || ''"
      *ngSwitchCase="formFieldType.CHECK_BOX"
    >
      <my-org-checkbox
        [field]="field"
        [control]="form.controls[field.key]"
      ></my-org-checkbox>
    </div>

    <div [ngClass]="field?.classes || ''" *ngSwitchCase="formFieldType.LABEL">
      <mat-label
        *ngIf="field?.label"
        (click)="onClickLink(field)"
        >{{ field?.label }}</mat-label
      >
    </div>

    <div
      [ngClass]="field?.classes || ''"
      *ngSwitchCase="formFieldType.TEMPLATE_REF"
    >
      <ng-container *ngTemplateOutlet="field.templateRef"></ng-container>
    </div>
  </ng-container>
</ng-template>
