<section *ngFor="let item of items; index as i">
  <div *ngIf="item.type === NewQuestion.INPUT">
    <mat-label>{{ item.label }}</mat-label>
    <mat-form-field appearance="fill">
      <textarea matInput [value]="item.answer" readonly></textarea>
    </mat-form-field>
  </div>
  <div class="checkbox--list" *ngIf="item.type === NewQuestion.CHECK_BOX">
    <mat-label>{{ item.label }}</mat-label>

    <mat-checkbox
      *ngIf="item.answer1?.label"
      color="primary"
      name="answer1"
      (change)="onChange($event, i)"
    >
      {{ item.answer1.label || 'Check me!' }}
    </mat-checkbox>
    <mat-checkbox
      *ngIf="item.answer2?.label"
      color="primary"
      name="answer2"
      (change)="onChange($event, i)"
    >
      {{ item.answer2.label || 'Check me!' }}
    </mat-checkbox>
    <mat-checkbox
      *ngIf="item.answer3?.label"
      color="primary"
      name="answer3"
      (change)="onChange($event, i)"
    >
      {{ item.answer3.label || 'Check me!' }}
    </mat-checkbox>
    <mat-checkbox
      *ngIf="item.answer4?.label"
      color="primary"
      name="answer4"
      (change)="onChange($event, i)"
    >
      {{ item.answer4.label || 'Check me!' }}
    </mat-checkbox>
  </div>
</section>
