<mat-label *ngIf="field?.labelOutSide" class="out--side__label">{{
  field?.labelOutSide
}}</mat-label>
<mat-form-field appearance="fill">
  <mat-label *ngIf="field?.label">{{ field?.label }}</mat-label>
  <div [class.input__icon]="field?.icon">
    <input
      matInput
      [formControl]="control"
      [type]="field?.inputType || 'text'"
      [placeholder]="field?.placeholder || ''"
      [required]="field?.required"
      [minlength]="field?.minLength"
      [maxlength]="field?.maxLength"
      [pattern]="field?.pattern" />
  </div>

  <mat-error *ngIf="field?.errors?.length">
    <ng-container *ngFor="let error of field.errors">
      <ng-template [ngIf]="control?.hasError(error.type)">
        {{ error.message }}
      </ng-template>
    </ng-container>
  </mat-error>
</mat-form-field>
