<section>
  <div class="content">
    <ng-template [ngIf]="static?.about_yourself">
      <mat-label>Please tell us about yourself</mat-label>
      <p>{{ static?.about_yourself }}</p>
    </ng-template>

    <ng-template [ngIf]="static?.technical">
      <mat-label>Please select the languages you know</mat-label>
      <p *ngFor="let item of static?.technical">{{ item }}</p>
    </ng-template>

    <ng-template [ngIf]="dynamic.length > 0">
      <div *ngFor="let item of dynamic">
        <ng-template [ngIf]="item.type === NewQuestion.INPUT">
          <mat-label>{{ item.label }}</mat-label>
          <p>{{ item?.answer }}</p>
        </ng-template>

        <ng-template [ngIf]="item.type === NewQuestion.CHECK_BOX">
          <mat-label>{{ item.label }}</mat-label>
          <p *ngFor="let item of item?.checkBoxList">{{ item }}</p>
        </ng-template>
      </div>
    </ng-template>

    <a href="javascript:void(0)" (click)="onBack()">Back to Forms Builder</a>
  </div>
</section>
