:host {
  padding: 4rem;

  ::ng-deep form {
    width: 50vw;

    .form-box {
      border: 1px solid;
      padding: 2rem;

      .add-new {
        mat-label {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
}
