<section>
  <my-org-dynamic-form
    [formInput]="formInput"
    (primaryEmitter)="onSubmit($event)"
  ></my-org-dynamic-form>
</section>
<ng-template #newQuestionTemplate>
  <my-org-new-question [items]="itemOptions"></my-org-new-question>
</ng-template>
