<section>
  <my-org-input
    [control]="form.controls['label']"
    [field]="fields['label']"
  ></my-org-input>

  <my-org-text-area
    *ngIf="item.type === NewQuestion.INPUT"
    [control]="form.controls['answer']"
    [field]="fields['answer']"
  ></my-org-text-area>

  <div *ngIf="item.type === NewQuestion.CHECK_BOX">
    <my-org-input
      [control]="form.controls['answer1']"
      [field]="fields['answer1']"
    ></my-org-input>
    <my-org-input
      [control]="form.controls['answer2']"
      [field]="fields['answer2']"
    ></my-org-input>
    <my-org-input
      [control]="form.controls['answer3']"
      [field]="fields['answer3']"
    ></my-org-input>
    <my-org-input
      [control]="form.controls['answer4']"
      [field]="fields['answer4']"
    ></my-org-input>
  </div>
</section>
