:host {
  section {
    min-width: 370px;

    .actions {
      display: flex;
      gap: 2rem;
      margin-bottom: 1rem;
    }

    ::ng-deep form {
      width: 100%;

      .form-box {
        overflow: auto;
        max-height: 40vh;
      }
    }

    .box {
      border-bottom: 1px solid white;
      margin-bottom: 1rem;
      height: 50vh;
      overflow: auto;

      ::ng-deep .mat-form-field  {
        width: 100%;
      }
    }
  }
}
