<section>
  <h3>Add a New Questions</h3>
  <p [matMenuTriggerFor]="menu">+ Add another answer</p>
  <mat-menu #menu="matMenu" xPosition="after">
    <button mat-menu-item (click)="onQuestionCheckBox()">Checkbox</button>
    <button mat-menu-item (click)="onQuestionInput()">Paragraph</button>
  </mat-menu>

  <div class="box">
   <my-org-item-add-new-question [item]="item" *ngFor="let item of items; index as i"></my-org-item-add-new-question>
  </div>

  <button (click)="onSubmit()">Submit</button>
</section>
