@import "./mixin";

.form__section {
  @include flex();

  .form-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form__row {
      display: flex;
      gap: 1rem;
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-form-field-wrapper {
      border: 1px solid;
      margin-top: 0.5rem;
    }
  }

  .form-actions {
    margin-top: 2rem;
    @include flex();
    gap: 1rem;
  }
}

mat-label {
  font-weight: bold;
}
