// IMPORTANT - DO NOT DELETE
// COLOR SYSTEM STYLE GUIDE MAT ANGULAR
$primary: #3b6394;
$secondary: #3b6395;
$gray: #646b6c;
$gray1: #a1a19f;
$gray2: #d0d0d0;
$gray3: #e7e7e7;
$gray4: #2b3838;
$gray5: #c4c4c4;
$white: #ffffff;
$black: #000000;
$blue: #31aaaa;
$blue2: #3b6394;
$blue3: #3b6395;
$dark-blue: #282f60;
$green: #3da935;
$green1: #90d033;
$green2: #b1de70;
$green3: #1eb72d;
$orange: #fcca0b;
$orange1: #ff8a00;
$orange2: #ffa776;
$yellow: #d2b16f;
$yellow-1: #d2b16f;
$red: #be2344;
$pink: #d10050;
$grey: #f4f4f4;

$font-color: #ffffff;

// fonts
$primary-font: "Roboto", sans-serif;
